---
import "../style/globel.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "About Me";
---

<body>
    <header>
        <Navigation horizontal={true} />
    </header>

    <main>
        <section class="welkome">
            <div>
                <h1 class="welkome__titel">{pageTitle}</h1>
                <p class="welkome__text">Get to know me and my journey</p>
            </div>
        </section>
    </main>

    <footer>
        <p id="contact"></p>
        <Footer />
    </footer>
</body>
