---
import "../style/globel.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<body>
    <main>
        <BaseLayout
            pageTitleH1="Discover"
            pageTitleH2="My Journey"
            pageText="Get to know me and my journey"
        />
    </main>
</body>
