---
import "../style/globel.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Portfolio</title>
	</head>

	<body>
		<header>
			<Navigation horizontal={true} />
		</header>

		<main>
			<section class="welkome">
				<div>
					<h1 class="welkome__titel">Hi, I'm Silke</h1>
					<p class="welkome__text">Welcome to my art portfolio.</p>
				</div>
			</section>
		</main>

		<footer>
			<p id="contact"></p>
			<Footer />
		</footer>
	</body>
</html>
