---
import "../style/globel.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en" id="top">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/alk4gzt.css" />
		<title>My Portfolio</title>
	</head>

	<body>
		<main>
			<BaseLayout
				pageTitleH1="Hello,"
				pageTitleH2="I'm Silke"
				pageText="Welcome to my art portfolio."
			/>
		</main>
	</body>
</html>
