---
import "../style/globel.css";
---

<header>
<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__list-item"><a href="/">Home</a></li>
        <li class="navigation__list-item">
            <a href="#">About me</a>
        </li>
        <li class="navigation__list-item">
            <a href="/portfolio/">My work</a>
        </li>
        <li class="navigation__list-item">
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>

<h1>Portfolio</h1>
