---
import "../style/globel.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<body>
    <main>
        <BaseLayout
            pageTitleH1="Discover "
            pageTitleH2="My Portfolio"
            pageText="Explore my projects and artworks"
        >
            <a href="/sources/source-1/">Bronnen</a>
        </BaseLayout>
    </main>
</body>
