---
const { frontmatter } = Astro.props;
import "../style/globel.css";
---

<a class="back" href="/portfolio/">Back</a>
<h1>{frontmatter.title}</h1>
<p class="description">{frontmatter.description}</p>
<slot />
<div class="bron_text">
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>Written by {frontmatter.author}</p>
</div>
<style>
    .bron_text {
        display: flex;
        justify-content: space-around;
        margin-top: 5rem;
    }
    p {
        color: var(--c-text);
        line-height: 10px;
    }
    .description {
        color: var(--c-gold);
        display: flex;
        justify-content: center;
    }
    .back {
        position: fixed;
        font-weight: bolder;
        background-color: var(--c-background);
        padding: 1rem 0.7rem 1rem 0rem;
    }
</style>
