:root {
    --fs-xs: 15px;
    --fs-s: 19px;
    --fs-m: 25px;
    --fs-l: 35px;
    --fs-xl: 3rem;
    --fs-xxl: 4.5rem;

    --c-purple: #817191;
    --c-black: #191919;
    --c-background: #2C2B2B;
    --c-text: #DCEDDB;
    --c-green-dark: #547361;
    --c-green-light: #74875B;
    --c-gold: #D4AF37;
}

.hero_container {
    margin-bottom: 10rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 6% auto 0;
}

.single-card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40% 60%;
    background-color: var(--c-black);
}

.img-area {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: grid;
    grid-template-rows: 20% 110px 20%;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    color: var(--c-text);
}

.info_role {
    font-size: 11px;
    text-align: left;
    margin-left: 1.5rem;

}

.info_naam {
    grid-column: 1/3;
    margin: 15px 0px 10px;
    font-size: var(--fs-s);
    font-weight: bold;
    text-transform: uppercase;
    padding: 0rem 1rem;
}

.info_description-titel {
    font-weight: bold;
    font-size: var(--fs-xs);
    margin-top: 0px;
}

.info_description {
    grid-column: 1/3;
    font-size: var(--fs-xs);
    padding: 0rem 1rem;
    text-align: left;
    align-self: start;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Max 4 regels */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    position: absolute;
    top: 20px;
    right: -43px;
    color: var(--c-text);
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding: 5px 37px;
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    z-index: 4;
    background-color: var(--c-background);
}

.year-2018-2019,
.year-2019-2020,
.year-2020-2021,
.year-2021-2022 {
    background-color: var(--c-black);
    color: var(--c-text);
}

.year-2022-2023,
.year-2023-2024,
.year-2024-2025 {
    background-color: var(--c-text);
    color: var(--c-black);
}

.single-card.type-school-project {
    background-color: var(--c-green-dark);
}

.single-card.type-prive {
    background-color: var(--c-purple);
}

/* .single-card.type-solo-project {
    background-color: var(--c-green-light);
}

.single-card.type-team-project {
    background-color: var(--c-gold);
} */

.form_filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 3rem;
}

.form_dropdown {
    padding: 5px 15px;
    border: 3px solid var(--c-purple);
    border-radius: 5px;
    font-size: 14px;
}

.dropdown_item {
    background-color: var(--c-background);
}