---
import Social from "./Social.astro";
import Navigation from "../components/Navigation.astro";
---

<section class="Footer" >
    <p class="Footer_titel">Contact me</p>
    <div class="Footer_section-1">
        <img class="Footer_img" src="/public/me.jpg" alt="Me" />
        <div>
            <p class="Footer_section1-text">Silke Van den Brempt</p>
            <Social
                platform="m.me"
                username="silke.vandenbrempt"
                img="/public/messenger.png"
            />
            <Social
                class="instagram"
                platform="instagram.com"
                username="silke_love_art"
                img="/public/instagram.png"
            />
            <Social
                platform="wa.me"
                username="+32498434335"
                img="/public/whatsApp.png"
            />
        </div>
    </div>
    <div class="Footer_section-2">
        <p>Email:</p><p>silke.vandenbrempt@gmail.com</p>
        <p>Phone:</p><p>+32498434335</p>
        <p>Address:</p><p>9320 Aalst, Belgium</p>
    </div>
    <div>
        <Navigation horizontal={false} />
    </div>
</section>
