---
import "../style/baseLayout.css";
const { horizontal } = Astro.props;
---

<nav>
    <ul
        class={`navigation navigation__list ${horizontal ? "horizontal" : "vertical"}`}
    >
        <li class="navigation__list-item">
            <a href="/Portfolio">Home</a>
        </li>
        <li class="navigation__list-item">
            <a href="/Portfolio/about/">About me</a>
        </li>
        <li class="navigation__list-item">
            <a href="/Portfolio/portfolio/">My work</a>
        </li>
        <li class="navigation__list-item">
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>
